.LoginView_main-box {

    width: 1200px;
    height: 650px;

    box-shadow: 10px 10px 10px #000000;
}

.LoginView_form-box {
    
    width: 40%;
    height: 100%;

    padding: 40px 0px 40px 0px;
}

.LoginView_form-wrapper {

    margin-top: 30px;
    padding: 0px 50px 0px 50px;
}

.LoginView_icon-box {

    width: 45px;
    height: 45px;

    border-right: none;
}

.LoginView_notification {

    margin-top: 50px;
    padding: 0px 50px 0px 50px;
}

.LoginView_image {

    width: 60%;
    height: 100%;

    object-fit: cover;
}

.loader::after {

    background: var(--LoginView-spinner);
}

/*
    when the display width is < 133px,
    the image is removed and only the
    login box will be visible
*/
@media screen and (max-width: 1300px) {

    /* kill the image */
    .LoginView_image {

        display: none;
    }

    /* readapt boxes to make them responsive */
    .LoginView_main-box {

        width: 90%;
        max-width: 480px;

        height: 90%;
        max-height: 650px;
    }

    .LoginView_form-box {

        width: 100%;
    }
}