/*_____________________________________________________________________________________________________________________________*/
/* Colors */

:root {
    
    --box_background_1 : #000000;
    --box_background_2 : #111111;
    --box_background_3 : #222222;
    --box_background_4 : #333333;
    --box_background_5 : #444444;
    --box_background_6 : #555555;
    --box_background_7 : #666666;
    --box_background_8 : #777777;
    --box_background_9 : #888888;
    --box_background_10: #999999;
    --box_background_11: #aaaaaa;
    --box_background_12: #bbbbbb;
    --box_background_13: #cccccc;
    --box_background_14: #dddddd;
    --box_background_15: #eeeeee;
    --box_background_16: #ffffff;

    --LoginView-spinner: #005f7c;
}

/*_____________________________________________________________________________________________________________________________*/
/* Basic */

* {

    box-sizing: border-box;
}

.App,
.canvas,
#root,
html,
body {

    width: 100%;
    height: 100%;

    margin: 0px;
    padding: 0px;

    font-family: sans-serif;
}

/*_____________________________________________________________________________________________________________________________*/
/* Containers */

.flex-wrap {

    flex-wrap: wrap;
}

.f-row {

    display: flex;
    flex-direction: row;
}

.f-col {

    display: flex;
    flex-direction: column;
}

.f-row-left,
.f-col-top {

    justify-content: flex-start;
}

.f-row-center,
.f-col-mid {

    justify-content: center;
}

.f-row-right
.f-col-bottom {

    justify-content: flex-end;
}

.f-row-top,
.f-col-left {

    align-items: flex-start;
}

.f-row-mid,
.f-col-center {

    align-items: center;
}

.f-row-bottom,
.f-col-right {

    align-items: flex-end;
}

/*_____________________________________________________________________________________________________________________________*/
/* Text */

.text-center {

    text-align: center;
}

.text-end {

    text-align: end;
}

.text-100 {

    font-size: 1rem;
}

.text-150 {

    font-size: 1.5rem;
}

.text-200 {

    font-size: 2rem;
}

.text-250 {

    font-size: 2.5rem;
}

.text-300 {

    font-size: 3rem;
}

.text-350 {

    font-size: 3.5rem;
}

.text-400 {

    font-size: 4rem;
}

.text-massive {

    font-size: 10rem;
}

/*_____________________________________________________________________________________________________________________________*/
/* Forms */

.input {
    
    width: 100%;
    height: 35px;

    padding: 0px 10px 0px 10px;
    margin: 0px;

    border-width: 1px;
    border-style: solid;
}

.input:focus {

    outline-width: 2px;
    outline-style: solid;
}

/*_____________________________________________________________________________________________________________________________*/
/* Buttons */

.button {

    width: 100%;
    height: 35px;

    padding: 0px;
    margin: 0px;

    border-width: 1px;
    border-style: solid;

    cursor: pointer;
}

.button:hover {

    transition: 0.25s;
    filter: brightness(1.25) !important;
}

/*_____________________________________________________________________________________________________________________________*/
/* Utility */

.w-100 {

    width: 100%;
}

.h-100 {

    height: 100%;
}

.box-border {

    border-width: 1px;
    border-style: solid;
}

.border-rounded {

    border-radius: 5px;
}

.border-circle {

    border-radius: 1000px;
}

/*_____________________________________________________________________________________________________________________________*/
/* Notifications */

.notification {
    
    width: 100%;
    height: 100px;

    border-width: 2px;
    border-style: solid;
    border-radius: 0px;

    padding: 25px;
}

.success {

    background-color: rgba(0, 255, 140, 0.25);
    border-color: rgba(0, 255, 140, 0.5);
    color: rgb(0, 255, 140, 1);
}

.info {

    background-color: rgba(0, 140, 255, 0.25);
    border-color: rgba(0, 140, 255, 0.5);
    color: rgb(0, 140, 255, 1);
}

.warning {

    background-color: rgba(255, 140, 0, 0.25);
    border-color: rgba(255, 140, 0, 0.5);
    color: rgba(255, 140, 0, 1);
}

.danger {

    background-color: rgba(255, 0, 0, 0.25);
    border-color: rgba(255, 0, 0, 0.5);
    color: rgba(255, 140, 140, 1);
}

/*_____________________________________________________________________________________________________________________________*/
/* Spinners / loaders */

.loader {

    width: 100%;
    height: 4.8px;
    display: inline-block;
    position: relative;
    background: rgba(255, 255, 255, 0.15);
    overflow: hidden;
}

.loader::after {

    content: '';
    width: 192px;
    height: 4.8px;
    background: #ffffff;
    position: absolute;
    top: 0;
    left: 0;
    box-sizing: border-box;
    animation: animloader 2s linear infinite;
}
  
@keyframes animloader {

    0% {

        left: 0;
        transform: translateX(-100%);
    }

    100% {

        left: 100%;
        transform: translateX(0%);
    }
}